SuncereDataCenter/SuncereDataCenter.Core/Connected Services/CNEMCService/CNEMCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18410/CNEMCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CNEMC.WCF" />
  <xs:import schemaLocation="http://cityphoto.suncereltd.cn:18410/CNEMCService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CNEMC.DAL" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CNEMC.WCF" minOccurs="0" name="GetLoginUserResult" nillable="true" type="q1:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_AppResult" nillable="true" type="q2:Air_Cityday_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_AppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_AppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_AppListResult" nillable="true" type="q3:ArrayOfAir_Cityday_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_AppListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_AppListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_AppListByTimeResult" nillable="true" type="q4:ArrayOfAir_Cityday_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_Src">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_SrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_SrcResult" nillable="true" type="q5:Air_Cityday_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_SrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_SrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_SrcListResult" nillable="true" type="q6:ArrayOfAir_Cityday_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_SrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_Cityday_AQI_SrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_Cityday_AQI_SrcListByTimeResult" nillable="true" type="q7:ArrayOfAir_Cityday_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_Src">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_SrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_Max_SrcResult" nillable="true" type="q8:Air_CityDay_AQI_NonRule_Max_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_SrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_SrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_Max_SrcListResult" nillable="true" type="q9:ArrayOfAir_CityDay_AQI_NonRule_Max_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_SrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Max_SrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_Max_SrcListByTimeResult" nillable="true" type="q10:ArrayOfAir_CityDay_AQI_NonRule_Max_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_Src">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_SrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_SrcResult" nillable="true" type="q11:Air_CityDay_AQI_NonRule_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_SrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_SrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_SrcListResult" nillable="true" type="q12:ArrayOfAir_CityDay_AQI_NonRule_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_SrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityDay_AQI_NonRule_SrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityDay_AQI_NonRule_SrcListByTimeResult" nillable="true" type="q13:ArrayOfAir_CityDay_AQI_NonRule_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_AppResult" nillable="true" type="q14:Air_day_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_AppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_AppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_AppListResult" nillable="true" type="q15:ArrayOfAir_day_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_AppListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_AppListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_AppListByTimeResult" nillable="true" type="q16:ArrayOfAir_day_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_Src">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_SrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_SrcResult" nillable="true" type="q17:Air_day_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_SrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_SrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_SrcListResult" nillable="true" type="q18:ArrayOfAir_day_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_SrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_day_AQI_SrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_day_AQI_SrcListByTimeResult" nillable="true" type="q19:ArrayOfAir_day_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_AppResult" nillable="true" type="q20:Air_CityHour_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_AppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_AppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_AppListResult" nillable="true" type="q21:ArrayOfAir_CityHour_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_AppListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_AppListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_AppListByTimeResult" nillable="true" type="q22:ArrayOfAir_CityHour_AQI_App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_Src">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_SrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_SrcResult" nillable="true" type="q23:Air_CityHour_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_SrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_SrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_SrcListResult" nillable="true" type="q24:ArrayOfAir_CityHour_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_SrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAir_CityHour_AQI_SrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAir_CityHour_AQI_SrcListByTimeResult" nillable="true" type="q25:ArrayOfAir_CityHour_AQI_Src" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataAppResult" nillable="true" type="q26:VDataCenterHourDataApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataAppList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataAppListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataAppListResult" nillable="true" type="q27:ArrayOfVDataCenterHourDataApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataAppListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataAppListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataAppListByTimeResult" nillable="true" type="q28:ArrayOfVDataCenterHourDataApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataSrcResult" nillable="true" type="q29:VDataCenterHourDataSrc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataSrcListResult" nillable="true" type="q30:ArrayOfVDataCenterHourDataSrc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrcListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDataCenterHourDataSrcListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetVDataCenterHourDataSrcListByTimeResult" nillable="true" type="q31:ArrayOfVDataCenterHourDataSrc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishLiveResult" nillable="true" type="q32:AQIDataPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishLiveListResult" nillable="true" type="q33:ArrayOfAQIDataPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishLiveListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishLiveListByTimeResult" nillable="true" type="q34:ArrayOfAQIDataPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishHistoryResult" nillable="true" type="q35:AQIDataPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishHistoryListResult" nillable="true" type="q36:ArrayOfAQIDataPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAQIDataPublishHistoryListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetAQIDataPublishHistoryListByTimeResult" nillable="true" type="q37:ArrayOfAQIDataPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishLiveResult" nillable="true" type="q38:CityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishLiveListResult" nillable="true" type="q39:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishLiveListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishLiveListByTimeResult" nillable="true" type="q40:ArrayOfCityAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishHistoryResult" nillable="true" type="q41:CityAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishHistoryListResult" nillable="true" type="q42:ArrayOfCityAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityAQIPublishHistoryListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityAQIPublishHistoryListByTimeResult" nillable="true" type="q43:ArrayOfCityAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishLiveResult" nillable="true" type="q44:CityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishLiveListResult" nillable="true" type="q45:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishLiveListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishLiveListByTimeResult" nillable="true" type="q46:ArrayOfCityDayAQIPublishLive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishHistoryResult" nillable="true" type="q47:CityDayAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishHistoryListResult" nillable="true" type="q48:ArrayOfCityDayAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDayAQIPublishHistoryListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CNEMC.DAL" minOccurs="0" name="GetCityDayAQIPublishHistoryListByTimeResult" nillable="true" type="q49:ArrayOfCityDayAQIPublishHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>